node_modules
**/node_modules
.git
.gitignore
.DS_Store
*.md
dist
**/dist
.next
**/.next
.turbo
**/.turbo
coverage
**/coverage
apps/api/.data
*.tsbuildinfo
**/*.tsbuildinfo
.env
**/.env
**/.env.local
**/.env.*.local
